<div class="logo">
	<h1>
		<a href="/index.html">
			<img src="/static/images/logo.png" alt="logo" />
		</a>
	</h1>	
</div>
<div class="nav">
	<div class="nav-top">
		<a href="/html/register.html" id="header-register">注册</a>
		<a href="/html/login.html" id="header-login">登陆</a>
		<a href="/html/cart.html"><i></i><span id="h-num">0</span>件</a>
		<a href="javascript:;"><i></i>成都</a>
	</div>
	<div class="nav-bottom">
		<nav>
			<ul>
				<li><a href="/html/list.html?id=1"><span>All Products</span><span>全部产品</span></a></li>
				<li><a href="/html/cakeSeries.html"><span>Cake Series</span><span>蛋糕系列</span></a>
					<ul class="s-nav">
						<li><a href="/html/list.html?id=3">经典系列</a></li>
						<li><a href="/html/list.html?id=4">儿童系列</a></li>
						<li><a href="/html/list.html?id=5">冰淇淋系列</a></li>
						<li><a href="/html/list.html?id=6">真爱系列</a></li>
						<li><a href="/html/list.html?id=7">尊爱系列</a></li>
					</ul>
				</li>
				<li><a href="/html/list.html?id=2"><span>Wagashi</span><span>零食糕点</span></a></li>
				<li><a href="/html/about.html"></span><span>About Us</span><span>关于我们</span></a></li>
			</ul>
		</nav>
		<div class="tel">
			<p><i></i><span>400-700-5999</span></p>
		</div>
		<form>
			<a href="javascript:;"></a>
			<input type="text" id="search"/>
		</form>
		
	</div>	
</div>