html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, div,input{ margin:0; padding:0; }
fieldset, img, input { border:none; }
address, caption, code, th, em, i, b, strong{ font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
a {text-decoration:none; }
input:focus{outline:none;}